* {
    box-sizing: border-box;
}

body {
    background-color: #b3d9ff;
    font-family: sans-serif;
    margin: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

nav {
    display: flex;
    justify-content: right;
    align-content: center;
    background-color: #80C0FF;
}

a {
    font-size: 18pt;
    font-weight: bold;
    padding: 30px 24px;
}

h2 {
    color: blue;
    font-weight: bold;
    font-size: 24pt;
    text-align: center;
    padding: 20px;
}

p {
    padding: 0px 50px;
    line-height: 25px;
}

li {
    display: inline-block;
    padding: 20px 20px;
}

ul {
    text-align: center;
}

.card {
    border: 3px solid cyan;
    margin: 30px 20px;
    justify-content: center;
    transition: all 0.5s ease-in-out;
    filter: blur(2px);
}

.card:hover {
    box-shadow: inset 0px 0px 20px rgb(36, 69, 255), 0 0 20px rgb(39, 67, 224);
    filter: none;
}

.card-cluster {
    display: flex;
    flex-direction: row;
}

.card-mini {
    padding: 60px 0px 0px 0px;
}

.name {
    position: absolute;
    left: 20px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 24pt;
    padding: 24px 20px;
}

.intro {
    display: flex;
    flex-direction: row;
    margin: 30px 60px;
}

#about,
#projects {
    margin: 35px;
    border: 5px solid black;
    border-radius: 20px;
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 700px;
    margin: auto;
    border: 5px solid black;
    border-radius: 10px;
}

@media screen and (max-width: 767px) {
    .card {
        width: 50%;
        margin: 0;
    }

    .card-cluster {
        flex-direction: column;
    }

    .card-mini {
        padding: 0px;
        margin: auto;
    }
    #projects,
    #about {
        margin: 0;
    }
}

@media screen and (max-width: 768px) {

}

@media screen and (min-width:) {

}