/* universal selectors */
* {
    box-sizing: border-box;
}

/* element selectors */
body {
    background-color: #b3d9ff;
    font-family: sans-serif;
    margin: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

/* formats the footer for visibility */
footer {
    width: 200px;
    margin: auto;
    font-size: 14pt;
    padding: 20px;
}

/* Formats the nav bar */
nav {
    display: flex;
    justify-content: right;
    align-content: center;
    background-color: #80C0FF;
}

/* To format the contents of the visible links */
a {
    font-size: 18pt;
    font-weight: bold;
    padding: 30px 24px;
}

/* styling for the h2 tag*/
h2 {
    color: blue;
    font-weight: bold;
    font-size: 24pt;
    text-align: center;
    padding: 20px;
}

/* To add some text formatting for the paragraphs */
p {
    padding: 0px 50px;
    line-height: 25px;
}

/* makes the lsit of contact methods go inline so horizontal format*/
li {
    display: inline-block;
    padding: 20px 20px;
}

/* to center the unordered list in the contact section */
ul {
    text-align: center;
}

/* Class Selectors */
/* formats the project images and not the portrait picture */
.card {
    border: 3px solid cyan;
    margin: 30px 20px;
    justify-content: center;
    transition: all 0.5s ease-in-out;
    filter: blur(2px);
}

/* creates the transitions for when user hovers over a project image */
.card:hover {
    box-shadow: inset 0px 0px 20px rgb(36, 69, 255), 0 0 20px rgb(39, 67, 224);
    filter: none;
}

/* to style the contents of the About Me section */
.intro {
    display: flex;
    flex-direction: row;
    margin: 30px 60px;
}

/* to style the name */
.name {
    display: fixed;
    text-align: left;
    left: 20px;
    font-size: 24pt;
    padding: 25px 20px;
}

/* id selectors*/
/* formats the layout of each section*/ 
#about,
#projects {
    margin: 35px;
    border: 5px solid black;
    border-radius: 20px;
    align-content: center;
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 700px;
    margin: auto;
    border: 5px solid black;
    border-radius: 10px;
}